<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<table border="1">
  <thead>
    <tr>
      <th width="200">Game Title</th>
      <th width="200">Game Type</th>
      <th width="200">Game Rating</th>
      <th colspan="3"><center>Options</center></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td width="200"><%= inventory.gametitle %></td>
        <td width="200"><%= inventory.gametype %></td>
        <td width="200"><%= inventory.gamerating %></td>
        <td><%= link_to 'Show', inventory %>|</td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %>|</td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
